RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/images
RewriteCond %{REQUEST_URI} !^/assets
RewriteRule ^(.*)$ /index.php


RewriteRule ^(images/.*)$ https://newcatalog-admin.ua-ix.biz/$1 [R,NC,L]