RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/images
RewriteCond %{REQUEST_URI} !^/api
RewriteRule ^(.*)$ /index.html

RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api/ /server.php